# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development: &dev
  secret_key_base: 93b7f55dd41146764804e122fc94b1e9b9fd86718659a219e8f0828135156dd0245165b215e29d740da4626d92ef2f04648627f8de96b75e59ef8d1a06f35788
  telegram:
    bot:
      token: BOT_TOKEN
      username: BOT_NAME
      # async: true
      # botan:
      #   token: botan_token
      #   # async: true

test:
  secret_key_base: 7fb559360ff2d7297bf5fbe7eeb7480e3692373708e08283498acfcbfb4207c142812bb52f36606e13cbf9b22a309bf4a64882e0424527f42423106f77e9faba
  telegram:
    bot:
      token: test_bot_token
      username: BOT_NAME

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  <<: *dev
